
body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
   
}

.list-wrapper{
    max-width: 1000px;
}

.main-title {
    color: #385555;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 16px;
}

.list-item{
    list-style-type: none;
    width: 288px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
    background-image: url(imagens/thumb02.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.list-item__img img{
    margin-top: 100px;
    border-radius: 50%;
}